<router-outlet></router-outlet>

<div class="container-fluid bg-3 data-detail" routerLinkActive="n_v">
	<div class="row">
		<div class="col-12 col-md-6">
			<a [routerLink]="['v', 'x-en-un-suelto']">
				<img src="assets/mini/lo.jpg" title="X en un Suelto" />
				<span>X en un Suelto</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['v', 's-afiches']">
				<img src="assets/mini/mac.jpg" title="Sistema de Afiches" />
				<span>Sistema de Afiches</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['v', 's-retratos']">
				<img src="assets/mini/retra.jpg" title="Sistema de Retratos" />
				<span>Sistema de Retratos</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['v', 's-imagenes']">
				<img src="assets/mini/cpu.jpg" title="Sistema de Imágenes" />
				<span>Sistema de Imágenes</span>
			</a>
		</div>
	</div>
</div>
