/**Globals**/
@import "globals-styles";
/*KeyFrames*/
@keyframes accWidth {
	from {width:0;}
	to {width:200px;}
}
/*Content*/
header{
	width:100%;
	height:70px;
  position:fixed;
  top:0;
  left:0;
  background: #181919 url('/../assets/img/dark-bg.gif') repeat;
  z-index:10;
	box-shadow: 0 1px 4px rgba(10,10,10,0.8);
	user-select: none;
}
footer{
	text-align:center;
	bottom:0;
	width:100%;
  height:40px;
	text-shadow:0px 0px 0px #888;
  background: #181919 url('/../assets/img/dark-bg.gif') repeat;
  position:relative;
  margin-top:20px;
}
h1{
	font-size:35px;
  position:relative;
  left:15px;
  top:5px;
	font-weight: bold;
}
.nav{
  position:absolute;
  font-size:26px;
  top:10px;
  right:35px;
  float: left;
  margin: 0;
}
.nav li{
  float: left;
}
.nav li a{
  color:#d9d9d9;
  text-shadow:1px 1px 2px #010101;
  opacity:0.9;
  padding:10px 10px 2px 10px;
	outline:none;
}
.nav li a:hover, .nav li a:active, .nav li a:focus{
  background:transparent;
}
.subtitle_con{
	position:absolute;
	margin:28px 0 0 60px;
}
.subtitle{
	font-size:16px;
	color:#d5d5d5;
	padding-left:7px;
	border-left:5px solid #e5e5e5;
	font-weight: normal;
	display: none;
	outline: none;
	width:0;
	overflow:hidden;
}
.la_a:hover, .a_active{
	color:$a-color !important;
}
.a_active{
	border-bottom:8px solid $a-color !important;
}
.la_v:hover, .v_active{
	color:$v-color !important;
}
.v_active{
	border-bottom:8px solid $v-color !important;
}
.la_t:hover, .t_active{
	color:$t-color !important;
}
.t_active{
	border-bottom:8px solid $t-color !important;
}
.la_h:hover, .h_active{
	color:$h-color !important;
}
.h_active{
	border-bottom:8px solid $h-color !important;
}
.la_i:hover, .i_active{
	color:$i-color !important;
}
.i_active{
	border-bottom:8px solid $i-color !important;
}
.la_p:hover, .p_active{
	color:$p-color !important;
}
.p_active{
	border-bottom:8px solid $p-color !important;
}
.a_show, .v_show, .t_show, .h_show, .i_show, .p_show{
	display:block !important;
	width:200px;
	animation: accWidth 0.8s;
  animation-timing-function: ease-out;
}
.a_show{
	border-left:5px solid $a-color !important;
}
.v_show{
	border-left:5px solid $v-color !important;
}
.t_show{
	border-left:5px solid $t-color !important;
}
.h_show{
	border-left:5px solid $h-color !important;
}
.i_show{
	border-left:5px solid $i-color !important;
}
.p_show{
	border-left:5px solid $p-color !important;
}
.ver_mas{
  float:right;
  right:0;
  top:0;
	margin-top:-8px;
  width:30px;
  height:100%;
  display:block;
  font-size:40px;
  color:#f4f4f4 !important;
  text-align: center;
  opacity:0.9;
  padding-top:5px;
  text-shadow:1px 1px 2px #010101;
	background:#515151 !important;
}
.ver_mas:hover{
  background:#818181 !important;
}
