<router-outlet></router-outlet>

<div class="container-fluid bg-3" routerLinkActive="n_v">
	<div class="row">
		<div class="col-12 col-md-6">
			<a [routerLink]="['h', 'm-girondo']">
				<img src="assets/mini/mg.jpg" title="Máquina Girondo" />
				<span>M&aacute;quina Girondo</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['h', 'digicenosis']">
				<img src="assets/mini/digicenosis.jpg" title="Digicenosis" />
				<span>Digicenosis</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['h', 'qbita']">
				<img src="assets/mini/qbita.jpg" title="Qbita" />
				<span>Qbita</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['h', 'p-yo']">
				<img src="assets/mini/p-yo.jpg" title="Proyecto Yo" />
				<span>Proyecto Yo</span>
			</a>
		</div>
	</div>
</div>
