<router-outlet></router-outlet>

<div routerLinkActive="n_v" class="container-fluid bg-3">
	<div class="row">
		<div class="col-12 col-md-6">
			<a [routerLink]="['a', 'esa-vieja-casa-de-arte']">
				<img class="img-responsive" src="assets/mini/casa-arte.jpg" title="Esa Vieja Casa de Arte" />
				<span>Esa Vieja Casa de Arte</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['a', 'hombre-elefante']">
				<img class="img-responsive" src="assets/mini/hombre-e.jpg" title="El Hombre Elefante" />
				<span>Hombre Elefante</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['a', 'apologo']">
				<img class="img-responsive" src="assets/mini/apologo.jpg" title="Ap&oacute;logo" />
				<span>Ap&oacute;logo</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['a', 'aprendizaje-hipernatural']">
				<img class="img-responsive" src="assets/mini/aprendizaje-hipernatural.jpg" title="Aprendizaje Hipernatural" />
				<span>Aprendizaje Hipernatural</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['a', 'metaxy']">
				<img class="img-responsive" src="assets/mini/metaxy.jpg" title="Metaxy" />
				<span>Metaxy</span>
			</a>
		</div>
	</div>
</div>
