<div class="jumbotron">
  <video #video poster="./assets/img/portada.jpg" [autoplay]="true" [muted]="true" [loop]="true" playsinline crossorigin="anonymous">
    <source src="./assets/videos/intro.webm" type="video/webm">
    <source src="./assets/videos/intro.mp4" type="video/mp4">
  </video>
  <div class="banner_arrow">
  </div>
</div>

<div class="container bg-3" (click)="video.play();">
  <div class="row bio">
    <h3 class="col-12 col-md-2">Abstract</h3>
    <div class="col-12 col-md-10">
      <h4>{{name}}</h4>
      <p [innerHTML]="biografia"></p>
    </div>
  </div>

  <div class="row bio">
    <h3 class="col-12 col-md-2">Contacto</h3>
    <div class="col-12 col-md-10">
      <h5><a href="mailto:ibuioli@gmail.com">{{email}}</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="home-col col-12 col-md-4">
      <div class="pro-i" id="des01">
        <a routerLink="/instalaciones/i/aniuqam">
        </a>
      </div>
    </div>
    <div class="home-col col-12 col-md-4">
      <div class="pro-t" id="des02">
        <a routerLink="/textos/t/processing">
        </a>
      </div>
    </div>
    <div class="home-col col-12 col-md-4">
      <div class="pro-h" id="des03">
        <a routerLink="/hipertextos/h/m-girondo">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="home-col col-12 col-md-3">
      <div class="pro-i" id="des04">
        <a routerLink="/instalaciones/i/liberoscopio">
        </a>
      </div>
    </div>
    <div class="home-col col-12 col-md-3">
      <div class="pro-i" id="des05">
        <a routerLink="/instalaciones/i/ebo">
        </a>
      </div>
    </div>
    <div class="home-col col-12 col-md-3">
      <div class="pro-i" id="des06">
        <a routerLink="/instalaciones/i/nan">
        </a>
      </div>
    </div>
    <div class="home-col col-12 col-md-3">
      <div class="pro-h" id="des07">
        <a routerLink="/hipertextos/h/qbita">
        </a>
      </div>
    </div>
  </div>
</div>
