/**Globals**/
@import "globals-styles";
/***********************/
@keyframes arrowDown {
  from {bottom:50px;opacity:0.9;}
  to {bottom:0px;opacity:0;}
}
/***********************/
h3{
  font-size: 12px;
  border-left:8px solid #1f618d;
  padding:5px 0 0 20px;
  opacity:0.9;
  letter-spacing: 2px;
  text-transform: uppercase;
  height:24px;
  margin-bottom:10px;
}
h4{
  font-size:38px;
  color:#222;
}
h5{
  font-size:18px;
  color:#222;
}
hr{
  border: none;
  height: 1px;
  color: #c3c3c3;
  background-color: #c0c0c0;
  margin:20px 0;
}
p{
  color:#121212;
  opacity:0.95;
  line-height:26px;
}
.jumbotron{
  height:100vh;
  background:#666 url('/../../assets/img/gray-bg.gif');
  position: relative;
  box-shadow:inset 0 0 60px rgba(10, 10, 10, 0.65);
  overflow: hidden;
}
.jumbotron video{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
  opacity:0.7;
  object-fit: cover;
}
.jumbotron .banner_arrow{
  position:absolute;
  opacity:0.9;
  bottom:30px;
  left:50%;
  margin-left:-30px;
  animation: arrowDown 2s infinite;
  animation-timing-function: ease-out;
  user-select: none;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #f3f3f3;
}
.row{
  padding:0 30px;
  margin-bottom:10px;
}
.bio{
  margin-bottom:50px;
  padding:0 30px;
}
.home-col{
  padding:2px;
  overflow:hidden;
}
.home-col div{
  display:block;
  background: #202020;
  height:250px;
  border-bottom:15px solid #000;
  opacity:0.90;
  overflow:hidden;
  background-repeat: no-repeat;
}
.home-col div a{
  display:block;
  width:100%;
  height:250px;
  opacity:0;
  margin-right:1px;
}
.pro-a{
	border-color:$a-color !important;
}
.pro-a a:hover{
  background-color:$a-color !important;
  opacity:0.8 !important;
}
.pro-v{
	border-color:$v-color !important;
}
.pro-v a:hover{
	background-color:$v-color !important;
  opacity:0.6 !important;
}
.pro-t{
	border-color:$t-color !important;
}
.pro-t a:hover{
  background-color:$t-color !important;
  opacity:0.6 !important;
}
.pro-h{
	border-color:$h-color !important;
}
.pro-h a:hover{
	background-color:$h-color !important;
  opacity:0.6 !important;
}
.pro-i{
	border-color:$i-color !important;
}
.pro-i a:hover{
	background-color:$i-color !important;
  opacity:0.6 !important;
}
.pro-p{
	border-color:$p-color !important;
}
.pro-p a:hover{
	background-color:$p-color !important;
  opacity:0.6 !important;
}
