<router-outlet></router-outlet>

<div class="container-fluid bg-3" routerLinkActive="n_v">
	<div class="row">
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'aniuqam']">
				<img src="assets/mini/aniuqam.jpg" title="Aniuqám" />
				<span>Aniuqám</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'exanime-inanime']">
				<img src="assets/mini/exanime-inanime.jpg" title="Exánime Inánime" />
				<span>Exánime Inánime</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'humbre']">
				<img src="assets/mini/humbre.jpg" title="Humbre" />
				<span>Humbre</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'titono']">
				<img src="assets/mini/titono.jpg" title="Titono" />
				<span>Titono</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'interna']">
				<img src="assets/mini/interna.jpg" title="Interna" />
				<span>Interna</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'la-jaula-de-ideas']">
				<img src="assets/mini/la-jaula-de-ideas.jpg" title="La Jaula de Ideas" />
				<span>La Jaula de Ideas</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'contamirama']">
				<img src="assets/mini/contamirama.jpg" title="Contamirama" />
				<span>Contamirama</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'nan']">
				<img src="assets/mini/nan.jpg" title="NaN;" />
				<span>NaN;</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['i', 'pointmatic']">
				<img src="assets/mini/pointmatic.jpg" title="PointMatic" />
				<span>PointMatic</span>
			</a>
		</div>
		<div class="col-12 col-md-3">
			<a [routerLink]="['i', 'mortempo']">
				<img src="assets/mini/mortempo.jpg" title="Mortempo" />
				<span>Mortempo</span>
			</a>
		</div>
		<div class="col-12 col-md-3">
			<a [routerLink]="['i', 'forma-de-formar']">
				<img src="assets/mini/forma_de_formar.jpg" title="Forma de Formar" />
				<span>Forma de Formar</span>
			</a>
		</div>
		<div class="col-12 col-md-3">
			<a [routerLink]="['i', 'ebo']">
				<img src="assets/mini/ebo.jpg" title="E.B.O." />
				<span>E.B.O.</span>
			</a>
		</div>
		<div class="col-12 col-md-3">
			<a [routerLink]="['i', 'liberoscopio']">
				<img src="assets/mini/liberoscopio.jpg" title="Liberoscopio" />
				<span>Liberoscopio</span>
			</a>
		</div>
	</div>
</div>
