<router-outlet></router-outlet>

<div class="container-fluid bg-3 data-detail" routerLinkActive="n_v">
	<div class="row">
		<div class="col-12 col-md-6">
			<a [routerLink]="['p', 'la-fabrica-de-alvaro-de-campos']">
				<img src="assets/mini/la-fabrica-de-alvaro-de-campos.jpg" title="La F&aacute;brica de &Aacute;lvaro de Campos" />
				<span>La F&aacute;brica de &Aacute;lvaro de Campos</span>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a [routerLink]="['p', 'bit70']">
				<img src="assets/mini/bit70.jpg" title="bit(70)" />
				<span>bit(70)</span>
			</a>
		</div>
	</div>
</div>
