<router-outlet></router-outlet>

<div class="container-fluid bg-3" routerLinkActive="n_v">
	<div class="row">
		<div class="col col-sm-6">
			<a [routerLink]="['t', 'maquina-girondo']">
				<img src="assets/mini/mg-paper.jpg" title="Máquina Girondo: Autómatas generadores de narrativas discursivas" />
				<span>Máquina Girondo: Autómatas...</span>
			</a>
		</div>
		<div class="col col-sm-6">
			<a [routerLink]="['t', 'processing']">
				<img src="assets/mini/processing.jpg" title="Processing: Un lenguaje al alcance de todos" />
				<span>Processing: Un Lenguaje...</span>
			</a>
		</div>
		<div class="col col-sm-6">
			<a [routerLink]="['t', 'interfaz-hipertextual']">
				<img src="assets/mini/interfaz.jpg" title="La Interfaz Hipertextual" />
				<span>La Interfaz Hipertextual</span>
			</a>
		</div>
	</div>
</div>
