<router-outlet></router-outlet>

<div class="container-fluid bg-3" routerLinkActive="n_v">
	<div class="row">
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'maquina-girondo']">
				<img src="assets/mini/mg-paper.jpg" title="Máquina Girondo: Autómatas generadores de narrativas discursivas" />
				<span>Máquina Girondo: Autómatas generadores de narrativas discursivas</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'dialogo-relacional']">
				<img src="assets/mini/dialogo-relacional.jpg" title="Diálogo Relacional" />
				<span>Diálogo Relacional</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'mente-interna']">
				<img src="assets/mini/mente-interna.jpg" title="Mente Interna" />
				<span>Mente Interna</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'limites-de-cristal']">
				<img src="assets/mini/limites-de-cristal.jpg" title="Límites de Cristal" />
				<span>Límites de Cristal</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'el-tiempo-en-la-multimedia']">
				<img src="assets/mini/el-tiempo-en-la-multimedia.jpg" title="El Tiempo en la Multimedia" />
				<span>El Tiempo en la Multimedia</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'el-cine-de-las-afueras']">
				<img src="assets/mini/el-cine-de-las-afueras.jpg" title="El Cine de las Afueras" />
				<span>El Cine de las Afueras</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'un-lenguaje-muchos-medios']">
				<img src="assets/mini/un-lenguaje-muchos-medios.jpg" title="Un Lenguaje, Muchos Medios" />
				<span>Un Lenguaje, Muchos Medios</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'processing']">
				<img src="assets/mini/processing.jpg" title="Processing: Un lenguaje al alcance de todos" />
				<span>Processing: Un lenguaje al alcance de todos</span>
			</a>
		</div>
		<div class="col-12 col-md-4">
			<a [routerLink]="['t', 'interfaz-hipertextual']">
				<img src="assets/mini/interfaz.jpg" title="La Interfaz Hipertextual" />
				<span>La Interfaz Hipertextual</span>
			</a>
		</div>
	</div>
</div>
